<div class="flex-container">
    <p-autoComplete
        
        [suggestions]="citiesSuggested"
        field="nameFormated"
        (completeMethod)="searchSuggestions($event)"
        (onSelect)="searchWeather($event)"
        [forceSelection]="true"
        placeholder="Search City..."
    ></p-autoComplete>

    <p-progressSpinner *ngIf="!cityWeather && city"></p-progressSpinner>
    <div *ngIf="cityWeather" class="weather">
        <p id="city">{{ cityWeather.name }}, <strong>{{ cityWeather.sys.country }}</strong></p>
        <div id="main-weather">
            <p class="temperature p-text-light">{{ cityWeather.main.temp }}°</p>
            <div id="weather-description">
                <img src="https://openweathermap.org/img/wn/{{cityWeather.weather[0].icon}}@2x.png" alt="weather-icon">
                <p>{{cityWeather.weather[0].main}}</p>
            </div>
        </div>

        <section class="flex-details">
            <div class="flex-item"><span class="material-icons-outlined">thermostat</span>Feels like <strong>{{ cityWeather.main.feels_like }}°</strong></div>
            <div class="flex-item"><span class="material-icons-outlined">air</span>Wind <strong>{{ cityWeather.wind.speed}} m/sec</strong></div>
            <div class="flex-item"><span class="material-icons-outlined">water_drop</span>Humedity <strong>{{ cityWeather.main.humidity }} %</strong></div>
            <div class="flex-item"><span class="material-icons-outlined">vertical_align_bottom</span>Pressure <strong>{{ cityWeather.main.pressure }} hPa</strong></div>
            <div class="flex-item"><span class="material-icons-outlined">cloud</span> Clouds <strong>{{ cityWeather.clouds.all }} %</strong></div>
            <div class="flex-item"><span class="material-icons-outlined">visibility</span>Visibility <strong>{{ cityWeather.visibility }} m</strong></div>
        </section>

        <p id="last-update">Last update: {{ lastUpdate.getHours() }}:{{ lastUpdate.getMinutes() }} hs</p>
    </div>
    
</div>

<!-- <p>
    {{ cityWeather | json }}
</p> -->